<%- include("partials/header"); -%>

<div class="container blogs mt-5">
  <div class="container box text-center heading">
    <h3>Your Schedule</h3>
  </div>
  <div id='calendar'></div>

</div>
