
<%- include("partials/header"); -%>

<div class="container mt-5 text-center">
<div class="display-5 fw-bold text-muted">
  Welcome to the Customizable Meeting Scheduler App!
</div>
<div class="display-6 mt-5">
  View and Manage your Events
</div>
<a href="/myschedule" class="btn text-light mt-3 view">View Complete Schedule</a>
<a href="/calendar" class="btn text-light mt-3 view">Calendar</a>
</div>

<%- include("partials/footer"); -%>
