
<%- include("partials/header"); -%>

<div class="container mt-5 text-center">
<div class="display-5 fw-bold text-muted">
  Welcome to Customizable Meeting scheduler
</div>
<div class="display-6 mt-5">
  To View your schedule
</div>
<a href="/myschedule" class="btn text-light mt-3 view">View my schedule</a>
<a href="/calendar" class="btn text-light mt-3 view">calendar</a>
</div>

<%- include("partials/footer"); -%>
