.container1{
  width:100%;
  padding:0;
  margin:0;
}
.formpaper{
  width:334px;
  height:auto;
  float:center;
  margin: 130px auto;
}
.header {
    padding-top:20px;
    padding-bottom: 55px;
    margin: 0 auto;
    text-align: center;
    font-weight:bold;
    font: italic small-caps bold 50px cursive;
    color: #78DEC7;
}
.form {
    padding-bottom: 10px;
    margin: 0 auto;
    text-align: center;
}


.btn-outline-success{
  background-color:#83e7d6 ;
  margin-right:5px;
}
.googlebtn {
    margin-left:10px;
    margin-right: 10px;
}
label{
  width:30%;
  text-align: left;
  font-family: apple chancery, cursive;
  font-size:1.2rem;
  font-weight: 600;
  padding-right:10px ;
}
button{
  margin: 10px;
}
input{
  margin: 10px;
  border: 1px solid powderblue;
  border-radius:3%;
  box-shadow: 0 2px 2px 0 grey;
}
.signupmessage {
  text-align:right;
}
